/*To fit backgroun image*/
body {
  display: flex;
  flex-direction: column;
  /* HOME PAGE BACKGROUND */
  background: url("./Images/HomeBackground.jpg") no-repeat center center fixed;
  background-size: cover;
}


/*To make navbar opaque*/
.transparent-navbar {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
}


/*To make footer opaque*/
.transparent-footer {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
}

.main-content {
  flex: 1;
}

html, body {
  height: 100%;
  margin: 0;
}

.category-img {
  height: 300px;          /* same height for all */
  object-fit: cover;      /* crop nicely */
  width: 100%;
}

.custom-navbar {
  background-color: #1e293b; /* dark blue */
}

.custom-navbar .navbar-brand,
.custom-navbar .btn {
  color: white;
}
/*Mens modal*/
.product-img {
  height: 300px;
  object-fit: cover;
}

.modal-img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 9px;
}

/*Login Backgroung image*/
.login-page {
    
    height: 100vh;
    width: 100%;
    
    /* Background image */
    background-image: url('./Images/Login/Login.jpg');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    
    /* Center the modal */
    display: flex;
    justify-content: center;
    align-items: center;
}


/*SignUp Backgroung image*/
.SignUp-page {

   
    height: 100vh;
    width: 100%;
    
   
    background-image: url('./Images/SignUp/SignUp.jpg');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    
    /* Center the modal */
    display: flex;
    justify-content: center;
    align-items: center;
}

